// Headphones section styles

.lnd-headphones {
	display: flex;
	flex-wrap: wrap;
	padding-top: 8rem;
	padding-bottom: 4rem;
	background-color: white;

	&__heading {
		@extend %heading_level_2;
		@extend %heading_dark;
		width: 100%;
		margin-bottom: 3rem;
	}

	&__search {
		display: flex;
		width: 100%;
		margin-bottom: 3rem;
	}

	&__search-input {
		width: 100%;
		margin-right: 2rem;
	}

	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2rem;
		row-gap: 3rem;
		width: 100%;
		margin-bottom: 4rem;
	}
}

// Search

.lnd-search {
	&__input {
		@extend %lnd-input;
		@extend .lnd-input_dark;
	}

	&__button {
		@extend %button_primary;
	}
}

// Headphones Card

.lnd-card-prelisten {
	display: flex;
	flex-wrap: wrap;
	// width: 32%;

	&__image {
		width: 9.5rem;
		height: 9.5rem;
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		width: calc(100% - 9.5rem);
	}

	&__bottom {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__heading {
		@extend %heading_level_5;
		@extend %heading_dark;
		width: calc(100% - 2.5rem);
	}

	&__heading:hover {
		color: $color-primary;
	}

	&__play,
	&__delete {
		@extend %button_icon;
	}

	&__play {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		cursor: pointer;
	}

	&__icon-play {
		margin-right: 0.5rem;
		margin-top: 0.2rem;
	}

	&__icon-play:hover {
		fill: $color-primary;
	}

	&__icon-trash:hover path {
		fill: $color-primary;
	}

	&__price {
		@extend %heading_dark;
		font-size: 1.5rem;
		font-weight: 600;
		margin-right: 2rem;
	}

	&__button {
		@extend %button_secondary_outline;
		padding: 1rem 1.5rem;
		text-transform: uppercase;
		font-size: 1.5rem;
	}

	&__delete {
		margin-left: auto;
	}
}
