// Player setion styles

.lnd-player {
	background-color: white;
	padding-bottom: 4rem;

	// Sound wave
	&__sound-wave {
		position: relative;
		display: flex;
		margin-bottom: 1rem;
		cursor: pointer;

		@media (max-width: 1024px) {
			margin-bottom: 3rem;
		}

		&::before {
			position: absolute;
			left: 1rem;
			bottom: 1rem;
			content: '0:28';
			padding: 0.75rem;
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1;
			text-align: center;
			color: $color-primary;
			background-color: white;

			@media (max-width: 768px) {
				padding: 0.5rem;
			}
			@media (max-width: 414px) {
				left: 1.5rem;
			}
		}

		&::after {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
			content: '4:27';
			padding: 0.75rem;
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1;
			text-align: center;
			color: $color-grey-dark;
			background-color: white;

			@media (max-width: 768px) {
				padding: 0.5rem;
			}
			@media (max-width: 414px) {
				right: 1.5rem;
			}
		}
	}

	&__pic-sound-wave {
		@media (max-width: 768px) {
			height: 14.5rem;
		}
		@media (max-width: 414px) {
			display: none;
		}
	}

	&__pic-sound-wave_mobile {
		width: 100%;
		display: none;

		@media (max-width: 414px) {
			display: flex;
		}
	}

	&__control {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	// Control buttons
	&__playback {
		display: flex;
		align-items: center;

		@media (max-width: 1024px) {
			width: 30%;
			justify-content: space-evenly;
			margin-bottom: 3rem;
		}
		@media (max-width: 768px) {
			width: 100%;
			justify-content: space-evenly;
			margin-bottom: 2rem;
		}
	}

	&__prev,
	&__play,
	&__pause,
	&__stop {
		@extend %button_icon;
		margin-right: 1.5rem;
		cursor: pointer;
	}

	&__next {
		@extend %button_icon;
		cursor: pointer;
	}

	&__icon-prev:hover path,
	&__icon-play:hover path,
	&__icon-pause:hover path,
	&__icon-stop:hover rect,
	&__icon-next:hover path {
		fill: $color-primary;
	}

	// Volume
	&__volume {
		display: flex;
		align-items: center;

		@media (max-width: 1024px) {
			@media (max-width: 1024px) {
				width: 65%;
			}
			margin-bottom: 3rem;
		}
		@media (max-width: 768px) {
			width: 100%;
			margin-bottom: 2rem;
		}
	}

	&__icon-volume-min {
		margin-right: 1rem;
		cursor: pointer;

		&:hover path {
			fill: $color-primary;
		}
	}

	&__icon-volume-max {
		margin-left: 1rem;
		cursor: pointer;

		&:hover path {
			fill: $color-primary;
		}
	}

	&__pic-volume {
		cursor: pointer;

		@media (max-width: 1024px) {
			width: 100%;
		}
	}

	// Genres
	&__genres {
		display: flex;
		justify-content: space-between;
		width: 33%;

		@media (max-width: 1024px) {
			width: 100%;
			justify-content: space-evenly;
		}
		@media (max-width: 414px) {
			justify-content: space-between;
		}
	}

	&__pop,
	&__rock,
	&__jazz,
	&__electronic,
	&__folk,
	&__classic {
		font-size: 1.5rem;
		line-height: 1;
		font-weight: 600;
		color: $color-grey-darkest;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&:hover {
			color: $color-primary;
		}

		&.active {
			@extend %button;
			background-color: transparent;
			border: $color-grey-darkest 0.2rem solid;
			border-radius: $radius;
			padding: 1.3rem;
			font-size: 1.5rem;
			line-height: 1;
		}
	}
}
